:root {
  --blue: #0379FF;
  --light-blue: #9AC9FF;
  --dark-blue: #0261CC;
  --white: #fff;
}

body {
  margin: 0;
  font-family: 'IBM Plex Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 20px;
}

.App {
  width: 100vw;
  height: 100vh;
  position: relative;
  overflow: hidden;
  background-image: url(../Assets/cour-cert.png);
  background-size: 300mm 180mm;
  background-position: center;
  background-repeat: no-repeat;
  padding: 2.5rem;
}

svg {
  position: absolute;
  top: 0;
}

.content {
  position: absolute;
  top: 15rem;
  right: 2.5rem;
  width: 65%;
  margin-top: 20px;
  margin-bottom: 10px;
}

.content h1 {
  font-family: 'Poppins', sans-serif;
  color: var(--black);
  font-size: 3rem !important;
  text-align: left;
  margin-top: 10px;
}

.content h2 {
  line-height: 1;
  color: var(--black);
  text-align: left;
  margin-top: 110px;
  margin-left: 150px;
}

.byline {
  position: absolute;
  right: 50%; 
  transform: translateX(50%); 
  font-size: 50px;
  text-align: center; 
}
.byline span {
  font-weight: bold;
}
