.detail{
    margin-top: 10vh;
    margin-left: 27%;
    height: 10vh;
    width: 90vh;
    font-size: 35px;
    font-weight: 400px;
    justify-items: left;
    text-align: left;
}

 .title1{
    border: 1px solid rgb(224, 223, 223);
    background-color: rgb(224, 223, 223);
    border-radius: 5px;
    margin-top: 1vh;
    height: 5vh;
    font-size: 23px;
    padding: 9px;
    text-indent: 5px;
    color: black;

    /* margin-top:1vh;
    margin-left: 2vh;
    width: 40vh;
    height: 5vh;
    border: 1px solid black;
    font-size: 25px;
    padding: 8px;
    border-radius: 5px;
    color: black; */
}
.title1 a:link {
    text-decoration: none;
    color: black;
}
.title1 a:visited {
    text-decoration: none;
    color: black;
} 
.title1 a:active {
    text-decoration: none;
    color: black;
 }

 .pagination-container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    
  }
  
  /* Pagination list */
  .Paginate {
    display: flex;
    list-style: none;
    font-family: Arial, sans-serif;
    padding: 8px 12px;
    text-decoration: none;
    color: #333;
    justify-content: center;
    gap: 10px;
    font-size: 1.8rem;
    cursor: pointer;
  }
  


  /* Pagination item */
  .paginate li {
    margin: 0 3px;
  }
  
  /* Pagination link */
  .paginate a {
    padding: 8px 12px;
    text-decoration: none;
    color: #333;
    border: 1px solid #ccc;
    border-radius: 4px;
    transition: background-color 0.3s ease;
  }
  
  /* Active pagination link */
  .paginate a.active {
    background-color: #007bff;
    color: white;
    border: 1px solid #007bff;
  }